*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
main span,
main section,
footer {
  font-family: 'Montserrat';
  font-style: normal;
}
a,
a:active,
a:visited {
  color: #828282;
}

.container {
  margin: 32px 96px;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0;
  }
  .container {
    margin: 19px 13px;
  }
}