*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
main span,
main section,
footer {
  font-family: 'Montserrat';
  font-style: normal;
}
a,
a:active,
a:visited {
  color: #828282;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0;
  }
  .container {
    margin: 19px 13px;
  }
}
@media screen and (min-width: 481px) {
  .container {
    margin: 19px 24px;
  }
  .lazy-load-image-background.blur.lazy-load-image-loaded > img {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .container {
    margin: 32px 96px;
  }
}
