.card-container {
  width: 395px;
}
.card-container img {
  border-radius: 24px;
  margin-bottom: 15px;
}

.superhost {
  width: 88px!important;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  padding: 7px 9px;
  margin-right: 11px;
  text-align: center;
}
.card-container span:nth-of-type(1) {
  width: 100%;
  object-fit: cover;
}
.card-image {
  width: 100%;
}
.card-details-container {
  display: flex;
  align-items: center;
  height: 30px;
}
.card-details {
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  flex-grow: 1;
}
.card-details-container svg {
  width: 16px;
  height: 16px;
}
.rating {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}
.rating svg {
  margin-right: 7px;
}

.card-details-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-top: 12px;
}
@media screen and (max-width: 480px) {
  .card-container {
    width: 350px;
  }
}
@media screen and (min-width: 481px) {
  .card-container {
    width: 344px;
  }
}