.search_container {
  position: absolute;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  /*  padding: 0 19px; */
  /*   transition: width 4s linear, height 4s linear ; */
  right: 96px;
  top: 32px;
  background-color: white;
  width: 297px;
  height: 55px;
}
.expanded {
  width: 100vw;
  height: 460px;
  right: 0;
  top: 0;
  border-radius: 0;
}

.search-icon-expanded {
  width: 127px;
  height: 48px;
  background: #eb5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #f2f2f2;
}

.search-icon svg {
  width: 17px;
  height: 17px;
  margin: 19px 16px 19px 19px;
}

.search-icon-expanded svg {
  margin: 15px 10px 15px 27px;
}
.drawer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}
.drawer-expanded {
  width: 1248px;
  height: 55px;
  margin-top: 93px;
}

@media screen and (max-width: 480px) {
  .search_container {
    right: 32px;
    top: 75px;
  }
  .expanded {
    right: 0;
    top: 0;
    height: 90vh;
  }
  .drawer-expanded {
    width: 350px;
    height: auto;
    margin-top:49px;
    flex-direction: column;
  }
  .search-icon-expanded {
    margin: 16px 0;
  }
}
@media screen and (min-width: 700px) {
  .search_container {
    right: 22px;
  }
  .expanded {
    right: 0;
  }
  .drawer-expanded {
    width: 70vw;
  }
}
@media screen and (min-width: 1000px) {
  .drawer-expanded {
    width: 84vw;
  } 
  .search_container {
    right: 92px;
  }
  .expanded {
    right: 0;
  }
}