.search_container {
  position: absolute;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  /*  padding: 0 19px; */
  /*   transition: width 4s linear, height 4s linear ; */
  right: 96px;
  top: 32px;
  background-color: white;
  width: 297px;
  height: 55px;
}
.expanded {
  width: 100vw;
  height: 460px;
  right: 0;
  top: 0;
  border-radius: 0;
}

.search-icon-expanded {
  width: 127px;
  height: 48px;
  background: #eb5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #f2f2f2;
}

.search-icon svg {
  width: 17px;
  height: 17px;
  margin: 19px 16px 19px 19px;
}

.search-icon-expanded svg {
  margin: 15px 10px 15px 27px;
}
.drawer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}
.drawer-expanded {
  width: 1248px;
  height: 55px;
  margin-top: 93px;
}

.location-list {
  list-style: none;
  padding: 0;
  margin:0;
  margin-left: 96px;
  width: fit-content;
  display: inline-block !important;
}
.location-list li {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  margin-bottom: 36px;
}

.location-list li::before {
  content: '';
  opacity: 0.7;
  background-image: url('/map-marker-alt-solid.svg');
  background-size: fill;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  margin-right: 8px;
}

.hide {
  display: none;
}
.guest-options {
  display: inline-block;
  margin-left: 312px;
}
.guest-adults,
.guest-children {
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
}
.guest-adults span,
.guest-children span {
  color: #bdbdbd;
}
.guest-options div strong {
  font-size: 17px;
}

.guest-input {
  display: flex;
  margin-top: 12px;
  align-items: center;
}
.guest-input div { 
  width: 23px;
  height: 23px;
  border: 1px solid #828282;
  color: #828282;
  border-radius: 4px;
  place-content: center;
  display: flex;
}
.guest-input span {
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  margin: 0 15px;
}

.option-container {
  display: flex;
  padding-top: 48px;
}