.option-container {
  display: none;
  padding-top: 48px;
}


.location-list {
  list-style: none;
  padding: 0;
  margin:0;
  margin-left: 96px;
  width: fit-content;
  display: inline-block !important;
}
.location-list li {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  margin-bottom: 36px;
}

.location-list li::before {
  content: '';
  opacity: 0.7;
  background-image: url('/map-marker-alt-solid.svg');
  background-size: fill;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  margin-right: 8px;
}

.hide {
  display: none;
}
.guest-options {
  display: inline-block;
  margin-left: 312px;
}
.guest-adults,
.guest-children {
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
}
.guest-adults span,
.guest-children span {
  color: #bdbdbd;
  margin-top: 4px;
}
.guest-options div strong {
  font-size: 17px;
}
.expanded {
  display: flex;
}